<div id="keynotestart">

<%= image_tag "consensuslogo.png", :title => "Clinical Consensus", :class => "startlogo" %>

<p>This presentation is designed to work with a modern browser such as Google Chrome, Safari on the iPhone and iPad, and most Android browsers.</p>

<p>Google Chrome can be downloaded <a href="https://www.google.com/chrome/eula.html?&brand=CHMB&utm_campaign=en&utm_source=en-ha-na-us-sk&utm_medium=ha&installdataindex=homepagepromo">here</a>.</p>

<p><a href="/keynote" class="startnow">Start Now ⇢</a></p>

<p>If you are using Internet Explorer or Firefox, the PowerPoint can be downloaded <a href="clinicalconsensus.pptx">here</a>.</p>

</div>