$orange: #ff7a00;
$red: #f80000;
$yellow: #f5e201;


#pages_controller {
	
	p {
		margin-top:7px;
		font-size:16px;
		@media screen and (min-width:321px) {
				font-size:25px;
		}
	}

	h2 {
		color:$red;
		margin-left:15px;
	}
	
	img.frontlogo {
		width:90%;
		margin:10px 15px;
		@media screen and (min-width:321px) {
				width:50%;
		}
	}
	
	img.sentencelogo {
		height:25px;
		margin-bottom:-3px;
	}
	
	footer {
		position:absolute;
		bottom:4px;
		left:32px;
		p {
			font-size:12px;
		}
	}
	
	video, audio {
		margin-left:15px;
	}

	#wrapper {
		width:100%;
		min-width:320px;
		height:100%;
	}

	#nav {
		position:absolute;
		z-index:100;
		top:10px;
		width:250px;
		height:15px;
		left:50%;
		padding:2px 2px 2px 7px;
		margin:0 0 0 -125px;
		@include rounded(20px);
	}

	#nav li {
		display:block;
		float:left;
		width:10px;
		height:10px; 
		line-height:14px;
		@include rounded(5px);
		background:rgba(255, 122, 0, .5);
		overflow:hidden;
		padding:0;
		margin:3px 11px 0 5px;
		text-align:center;
	}
	
	nav {
		font-size:30px;
		font-weight:bold;
		width:100%;
		position:absolute;
		z-index:10;
		bottom:45px;
		a#prev {
			position:absolute;
			color:$orange;
			left:7px;
		}
		a#next {
			position:absolute;
			color:$orange;
			right:7px;
		}
	}
	
	div.swipe_instruct {
		float:left;
	}
	
	figure {
		width:100%;
		text-align:left;
		margin:0;
	}

	#nav li.selected {
		background:rgba(248, 0, 0, .6);
	}

	#swipeview-slider > div {
		position:relative;
		display:-webkit-box;
		-webkit-box-orient:vertical;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		overflow:hidden;
	}

	#swipeview-slider aside {
		width:100%;
		padding:0;
		display:block;
		font-size:20px;
		text-align:left;
		opacity:0;
		-webkit-transition:opacity 1.5s linear;
		-webkit-transition-delay:.3s;
		p {
			margin:7px 15px 0px 15px;
		}
	}

	#swipeview-slider .swipeview-active aside {
		opacity:1;
	}

}	