$orange: #ff7a00;
$red: #f80000;
$yellow: #f5e201;


#pages_controller {
	
	text {
		display:none;
	}
	
	g {
		height:20px;
	}
	
	a {
		color:$orange;
		cursor: hand;
		cursor: pointer;
	}
	
	li {
		cursor: hand;
		cursor: pointer;
	}
	
	a.btn {
		color:#fff;
		padding:0 10px -5px 10px;
	}
	
	p {
		margin:4px 15px 4px 15px;
		font-size:16px;
		line-height:19px;
		max-width:800px;
		@media screen and (min-width:481px) {
				font-size:25px;
				line-height:32px;
		}
	}
	
	p.answer {
		font-weight:bold;
	}
	
	.leftside {
		@media screen and (min-width:481px) {
			float:left;
			width:50%;
		}
	}
	
	.leftsidetop {
	}
	
	img.rightside {
		height:40%;
		float:none;
		left:50%;
		@media screen and (min-width:481px) {
			height:75%;
			float:left;
			margin-top:-340px;
			margin-left:30px;
			display:block;
			position:absolute;
			right:25px;
			top:400px;
		}
	}
	
	img.ipad {
		width:90%;
	}
	
	img.results {
		width:175px;
		margin-bottom:-40px;
		margin-left:120px;
		@media screen and (min-width:481px) {
			float:left;
			width:300px;
			margin-left:15px;
			margin-top:-100px;
			margin-bottom:0;
		}
	}
	
	img.closinglogo {
		width:200px;
		@media screen and (min-width:481px) {
			width:400px;
		}
	}

	h2 {
		color:$red;
		margin-left:15px;
		line-height:25px;
		@media screen and (min-width:481px) {
				font-size:45px;
				line-height:50px;
		}
	}
	
	img.frontlogo {
		width:90%;
		margin:15px 10px -7px 10px;
		@media screen and (min-width:321px) {
				width:75%;
		}
		@media screen and (min-width:481px) {
				width:50%;
		}
	}
	
	aside ul {
		margin-bottom:5px;
		@media screen and (min-width:481px) {
						margin-bottom:15px;
				}
	}
	
	aside ul li {
		margin-left:15px;
		margin-top:5px;
		font-size:13px;
		font-weight:bold;
		color:#333;
		@media screen and (min-width:481px) {
				font-size:25px;
				margin-left:35px;
				margin-top:13px;
		}
	}
	
	p.swipemessage {
		position:absolute;
		bottom:60px;
		right:15px;
		opacity:0;
		-webkit-transition:opacity 1.5s linear;
		-webkit-transition-delay:1.3s;
	}
	
	#swipeview-slider .swipeview-active p.swipemessage {
		opacity:1;
	}
	
	img.sentencelogo {
		height:25px;
		margin-bottom:-3px;
	}
	
	p.buzz {
		opacity:1;
		position:absolute;
		font-weight:bold;
		font-size:18px;
		top:-10px;
		left:-15px;
		margin:-100px;
		color:#999;
		-webkit-transition:opacity 2.5s linear;
		-webkit-transition-delay:1.5s;
	}
	
	#swipeview-slider .swipeview-active p.buzz {
		opacity:0;
	}
	
	.noisy {
		opacity:0;
		-webkit-transition:opacity 2.5s linear;
		-webkit-transition-delay:2s;
	}
	
	#swipeview-slider .swipeview-active .noisy {
		opacity:1;
	}
	
	img.text {
		width:200px;
		@media screen and (min-width:481px) {
				width:33%;
				margin-top:25px;
		}
	}
	
	img.connections {
		height:100px;
		margin-left:12px;
		@media screen and (min-width:481px) {
				height:50%;
				margin-top:25px;
		}
	}
	
	img.barchart {
		height:100px;
		width:290px;
		margin-left:12px;
		margin-top:15px;
		@media screen and (min-width:481px) {
				height:50%;
				width:90%;
				margin-top:25px;
		}
	}
	
	footer {
		border-top:none;
		position:absolute;
		width:228px;
		left:50%;
		bottom:11px;
		margin-left:-108px;
		p {
			font-size:12px;
		}
	}
	
	video {
		background:$orange;
		padding:4px;
		margin-left:15px;
		width:50%;
	}
	
	audio {
		margin-left:15px;
		margin-top:13px;
	}

	#wrapper {
		width:100%;
		min-width:320px;
		height:100%;
	}

	#nav {
		position:absolute;
		z-index:100;
		top:10px;
		width:260px;
		height:15px;
		left:50%;
		padding:2px 2px 2px 7px;
		margin:0 0 0 -137px;
		@include rounded(20px);
	}

	#nav li {
		display:block;
		float:left;
		width:10px;
		height:10px; 
		line-height:14px;
		@include rounded(5px);
		background:rgba(255, 122, 0, .5);
		overflow:hidden;
		padding:0;
		margin:3px 11px 0 5px;
		text-align:center;
	}
	
	nav {
		font-size:30px;
		font-weight:bold;
		width:100%;
		position:absolute;
		z-index:10;
		bottom:35px;
		a#prev {
			position:absolute;
			color:$orange;
			left:7px;
			text-decoration:none;
		}
		a#next {
			position:absolute;
			color:$orange;
			right:7px;
			text-decoration:none;
		}
	}
	
	div.swipe_instruct {
		float:left;
	}
	
	figure {
		width:100%;
		text-align:left;
		margin:0;
	}

	#nav li.selected {
		background:rgba(248, 0, 0, .6);
	}

	#swipeview-slider > div {
		position:relative;
		display:-webkit-box;
		-webkit-box-orient:vertical;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		overflow:hidden;
	}

	#swipeview-slider aside {
		width:100%;
		padding:10px 0 0 0;
		display:block;
		font-size:20px;
		text-align:left;
		opacity:0;
		-webkit-transition:opacity 1.5s linear;
		-webkit-transition-delay:.3s;
	}

	#swipeview-slider .swipeview-active aside {
		opacity:1;
	}
	
	.comeback {
		z-index:100;
		opacity:0;
		-webkit-transition:opacity 2.1s linear;
		-webkit-transition-delay:2.2s;
		text-align:center;
	}
	
	.comeback {
		text-align:center;
		margin-left:-15px;
		margin-top:-35px;
		@media screen and (min-width:481px) {
			margin-top:-100px;
		}
	}
	
	p.comeback {
		margin-top:25px;
		margin-left:0px;
		@media screen and (min-width:481px) {
			margin-top:50px;
			margin-left:65px;
		}
	}
	
	#swipeview-slider .swipeview-active .comeback {
		opacity:1;
	}
	
	.goaway {
		opacity: 1;
		-webkit-transition:opacity 1.5s linear;
		-webkit-transition-delay:1.8s;
	}
	
	p.goaway{
		margin-top:-80px;
		@media screen and (min-width:481px) {
			margin-top:-150px;
		}
	}
	
	#swipeview-slider .swipeview-active p.goaway, #swipeview-slider .swipeview-active h2.goaway {
		opacity:0;
	}
	
	#survey {
		height:290px;
		width:280px;
		padding:0 10px 50px 10px;
		margin:-170px 0px 0px -150px;
		h2 {
			font-size:18px;
			margin:20px 0 20px 15px;
			padding-right:20px;
		}
		p {
			margin-bottom:10px;
			font-size:11px;
			line-height:14px;
		}
		a.closesurvey {
			position:absolute;
			top:0;
			right:0;
			padding-bottom:-5px;
		}
		@media screen and (min-width:481px) {
			height:300px;
			width:300px;
			margin:-150px 0px 0px -150px;
		}
	}

}	